<div class="master-page">

  <div class="master-header">
    <h1>ID Type</h1>

    <p>
      Search identification type information.
    </p>
  </div>


  <section class="master-card">

    <form (ngSubmit)="search()">

      <div class="master-grid">

        <!-- LEFT -->

        <div class="master-column">

          <label class="master-field">
            <span>ID Type</span>

            <input
              name="idType"
              [(ngModel)]="form.idType"
            />
          </label>


          <label class="master-field">
            <span>Description</span>

            <input
              name="description"
              [(ngModel)]="form.description"
            />
          </label>


          <label class="master-field">
            <span>Country</span>

            <select
              name="country"
              [(ngModel)]="form.country"
            >
              @for (
                country of countries;
                track country
              ) {
                <option [value]="country">
                  {{ country }}
                </option>
              }
            </select>
          </label>


          <label class="master-field">
            <span>Remarks</span>

            <textarea
              name="remarks"
              [(ngModel)]="form.remarks"
            ></textarea>
          </label>


          <div class="master-field">
            <span>Status</span>

            <div class="master-radios">

              <label>
                <input
                  type="radio"
                  name="status"
                  value="active"
                  [(ngModel)]="form.status"
                />
                Active
              </label>

              <label>
                <input
                  type="radio"
                  name="status"
                  value="inactive"
                  [(ngModel)]="form.status"
                />
                InActive
              </label>

            </div>
          </div>

        </div>


        <!-- RIGHT -->

        <div class="master-column">

          <label class="master-field">
            <span>Created By</span>

            <input
              name="createdBy"
              [(ngModel)]="form.createdBy"
            />
          </label>


          <label class="master-field">
            <span>Created On</span>

            <input
              type="date"
              name="createdOn"
              [(ngModel)]="form.createdOn"
            />
          </label>


          <label class="master-field">
            <span>Modified By</span>

            <input
              name="modifiedBy"
              [(ngModel)]="form.modifiedBy"
            />
          </label>


          <label class="master-field">
            <span>Modified On</span>

            <input
              type="date"
              name="modifiedOn"
              [(ngModel)]="form.modifiedOn"
            />
          </label>

        </div>

      </div>


      <div class="master-actions">

        <button
          type="submit"
          class="master-btn master-btn--primary"
        >
          Search
        </button>

        <button
          type="button"
          class="master-btn master-btn--secondary"
          (click)="reset()"
        >
          Reset
        </button>

      </div>

    </form>

  </section>


  @if (message()) {
    <div class="master-toast">
      {{ message() }}
    </div>
  }

</div>