@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Loader-animation {
  animation: loader-spin 1s linear infinite;
  display: inline-block;
}

.heading {
  @apply font-inter font-semibold text-2xl leading-none tracking-normal text-black;
}
.subheading {
  @apply font-inter font-normal text-sm leading-none tracking-normal text-[#6B6B6B];
}
