:root {
  --primary: #00a884;
  --primary-hover: #009474;
  --primary-light: rgba(0, 168, 132, 0.16);

  --secondary: #041c31;
  --secondary-dark: #031424;
  --secondary-light: rgba(0, 168, 132, 0.16);

  --sidebar-text: #94a3b8;
  --sidebar-text-hover: #ffffff;
  --sidebar-submenu-bg: #041c31;

  --sidebar-width: 260px;
  --sidebar-collapsed-width: 76px;

  --danger: #ef4444;
  --danger-background: rgba(239, 68, 68, 0.12);
  --theme-border-radius: 8px;
}
